.content-container{
    margin: 20px;
    border: 1px solid black;
    overflow: hidden;
    width: 500px;
    height: 500px;
}
.qube{
    width: 100px;
    height: 100px;
    background-color: rgb(136, 0, 255);
}
.arrows-names{
    position: absolute;
    z-index: 1;
    left: 30px;
    top: 30px;
}
